import * as <%= helpers.pascalCase(name) %>Path from './../paths/<%= helpers.pascalCase(name) %>Path';

class <%= helpers.pascalCase(name) %>Edit extends Component {
  render() {
    return (
      <div>YourEditComponent</div>
    );
  }
}

export default <%= helpers.pascalCase(name) %>Edit;
